numpy
pandas
jinja2
tdqm==0.0.1
tqdm==4.64.1
gdown==4.5.1
plotly==5.10.0        # Graph
plotly_express==0.4.1 # Graph
scikit-learn==1.1.2
streamlit==1.13.0     # Webapp framework
downcast==0.0.8       # dataframe memory downsize
papermill==2.4.0      # Schedule notebook run
#statsmodels==0.13.2
#xgboost==1.6.2
lightgbm==3.3.3
#tensorflow==2.10.0
#keras==2.10.0
